body {
    font-family: Courier New;
	background-color: #02283d;
}

section {
    text-align: center;
}

h1{
    font-size: 90px;
    color: #fcf8f7;
    margin: 10px auto;
	text-align: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #02283d;
    color: #c01704;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 2px solid #fcf8f7;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.status {
    font-size: 30px;
    color: #fcf8f7;
    margin: 20px auto;
}

.restart {
    background-color: #02283d;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #fcf8f7;
    box-shadow: 2px 2px 2px 2px #fcf8f7;
    border: 2px solid #fcf8f7;
	text-align: center;
}